dash==1.20.0
Flask==1.1.2
jupyterlab==3.0.14
matplotlib==3.4.2
numpy==1.20.2
pandas==1.2.4
plotly==4.14.3
psycopg2==2.8.6
pymongo==3.11.4
requests==2.25.1
scipy==1.6.3
seaborn==0.11.1
SQLAlchemy==1.4.13
